.feynman {
  background-color: #f2f2f2;
  min-height: 890px;
  width: 100%;
  padding-top: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  z-index: 0;
}
