.kaufman__triangle {
  background-image: url(/images/kaufman-triangle.svg);
  background-size: cover;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -1;
  height: 877px;
  width: 877px;
  animation: rotate 15s infinite linear;
}
